{% extends 'interface/base.html' %}
{% block content %}

<div class="container">
    <div class="col-20">
        <div class="card">
            <form action="{% url 'interface:user_update' %}" method="POST">
            <a class="btn btn-outline-primary" href="{% url 'interface:user_update' %}" role="button">Редактировать</a>

            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="card-text">Телефон: {{user.phone}}</p>
                <p class="card-text">Email: {{user.email}}</p>
                <p class="card-text">Ваш пригласительный код: {{user.invite_code}}</p>
                <p class="card-text">Вы использовали пригласительный код: {{user.ref_code}}</p>
                <p class="card-text">Пользователи с вашим пригласительным кодом: {% for ref in invitation_list %}</p>
                <p class="mb-2">{{ref}}<br/></p>
                {% endfor %}
            </div>
            <input type="submit" value="save">
            </form>
        </div>
    </div>
</div>
{% endblock %}